name: VIC3 translate

on:
  workflow_dispatch:
  schedule:
    - cron: "20 * * * *" # 매시간 20분에 작동
  push:
    branches: [ main ]
    paths:
      - "vic3/**/meta.toml"
      - "vic3/**/upstream/**"

concurrency:
  group: translation
  cancel-in-progress: false

jobs:
  translate:
    runs-on: self-hosted
    permissions:
      contents: write
      issues: write
    env:
      GOOGLE_AI_STUDIO_TOKEN: "${{secrets.GOOGLE_AI_STUDIO_TOKEN}}"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/cache/restore@v4
        with:
          key: translate-cache
          path: "**.db"
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: .node-version
      - run: pnpm install --frozen-lockfile
      - name: Run VIC3 translation
        id: translate
        run: pnpm vic3
        continue-on-error: true
      - name: Save cache
        if: always()
        uses: actions/cache/save@v4
        with:
          key: translate-cache
          path: "**.db"
      - name: Commit translated files
        if: always()
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          push: true
          commit: --signoff
          default_author: github_actor
          commit_message: "chore(vic3): 번역 파일 업데이트 [skip ci]"
          pull_options: '--rebase --autostash'
      - name: Create issue for untranslated items
        if: always()
        uses: ./.github/actions/create-untranslated-issues
        with:
          game: vic3
          file-path: vic3-untranslated-items.json
      - name: Check translation result
        if: steps.translate.outcome == 'failure'
        run: exit 1
