name: Stellaris translate

on:
  workflow_dispatch:
  schedule:
    - cron: "40 * * * *" # 매시간 40분에 작동
  push:
    branches: [ main ]
    paths:
      - "stellaris/**/upstream/"
      - "stellaris/**/upstream/localisation/**"
      - "stellaris/**/upstream/**/localisation/**"


concurrency:
  group: translation
  cancel-in-progress: false

jobs:
  translate:
    runs-on: self-hosted
    permissions:
      contents: write
      issues: write
    env:
      GOOGLE_AI_STUDIO_TOKEN: "${{secrets.GOOGLE_AI_STUDIO_TOKEN}}"
      LOG_LEVEL: "${{ vars.LOG_LEVEL }}"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/cache@v4
        with:
          key: translate-cache-${{ hashFiles('**.db') }}
          restore-keys: |
            translate-cache
          path: "**.db"
          save-always: true
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: .node-version
      - run: pnpm install --frozen-lockfile
      - name: Run Stellaris translation
        id: translate
        run: pnpm stellaris
        continue-on-error: true
      - name: Commit translated files
        if: always()
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_options: '--signoff'
          commit_message: "chore(stellaris): 번역 파일 업데이트 [skip ci]"
          pull_options: '--rebase --autostash'
      - name: Create issue for untranslated items
        if: always()
        uses: ./.github/actions/create-untranslated-issues
        with:
          game: stellaris
          file-path: stellaris-untranslated-items.json
      - name: Check translation result
        if: steps.translate.outcome == 'failure'
        run: exit 1
