name: CK3 translate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *" # 매시간 정각에 작동
  push:
    branches: [ main ]
    paths:
      - "ck3/**/upstream/**"

concurrency:
  group: translation
  cancel-in-progress: false

jobs:
  translate:
    runs-on: self-hosted
    permissions:
      contents: write
      issues: write
    env:
      GOOGLE_AI_STUDIO_TOKEN: "${{secrets.GOOGLE_AI_STUDIO_TOKEN}}"
      LOG_LEVEL: "${{ vars.LOG_LEVEL }}"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/cache@v4
        with:
          key: translate-cache-${{ hashFiles('**.db') }}
          restore-keys: |
            translate-cache
          path: "**.db"
          save-always: true
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
      - run: pnpm install --frozen-lockfile
      - name: Run CK3 translation
        id: translate
        run: pnpm ck3
        continue-on-error: true
      - name: Commit translated files
        if: always()
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_options: '--signoff'
          commit_message: "chore(ck3): 번역 파일 업데이트 [skip ci]"
          commit_user_name: 'github-actions[bot]'
          commit_user_email: '41898282+github-actions[bot]@users.noreply.github.com'
          commit_author: 'dungsil <39783731+dungsil@users.noreply.github.com>'
      - name: Close translation-refused issues if all items translated
        if: always()
        uses: ./.github/actions/close-translation-issues
        with:
          game: 'ck3'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create issue for untranslated items
        if: always()
        uses: ./.github/actions/create-untranslated-issues
        with:
          game: 'ck3'
          github-token: ${{ secrets.GITHUB_TOKEN }}
